USE [XelajuApp]
GO
/****** Object:  Table [dbo].[Beneficiaries]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beneficiaries](
	[IdBeneficiarie] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[IdDocumentType] [nvarchar](10) NOT NULL,
	[DocumentNumber] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](100) NULL,
	[Status] [int] NULL,
	[DateC] [datetime] NULL,
	[UserC] [nvarchar](100) NULL,
	[DateU] [datetime] NULL,
	[UserU] [nvarchar](100) NULL,
	[IdClient_fk] [int] NULL,
	[Phone] [varchar](20) NOT NULL,
	[Address] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBeneficiarie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientCompanies]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientCompanies](
	[IdClientCompany] [int] IDENTITY(1,1) NOT NULL,
	[IdClient] [int] NOT NULL,
	[IdCompany] [int] NOT NULL,
	[AccountNumber] [nvarchar](100) NOT NULL,
	[AccountName] [nvarchar](200) NULL,
	[Status] [int] NOT NULL,
	[DateC] [datetime] NULL,
	[UserC] [nvarchar](100) NULL,
	[DateU] [datetime] NULL,
	[UserU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdClientCompany] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[IdClient] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[IdDocumentType] [nvarchar](50) NOT NULL,
	[DocumentNumber] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[ExpirationDate] [date] NULL,
	[Phone] [nvarchar](20) NULL,
	[Country] [nvarchar](100) NOT NULL,
	[Picture] [nvarchar](300) NULL,
	[Status] [int] NOT NULL,
	[DateC] [datetime] NOT NULL,
	[UserC] [nvarchar](100) NOT NULL,
	[DateU] [datetime] NULL,
	[UserU] [nvarchar](100) NULL,
	[IssueDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[IdCompany] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[SwiftCode] [varchar](20) NULL,
	[Country] [nvarchar](100) NOT NULL,
	[IdCountry] [nvarchar](10) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Status] [int] NOT NULL,
	[DateC] [datetime] NOT NULL,
	[UserC] [nvarchar](100) NOT NULL,
	[DateU] [datetime] NULL,
	[UserU] [nvarchar](100) NULL,
	[TransactionType] [int] NOT NULL,
	[ContactPerson] [nvarchar](50) NULL,
	[Position] [nvarchar](50) NULL,
	[PhoneContactPerson] [nvarchar](50) NULL,
	[StatusCompany] [nvarchar](50) NULL,
	[StatusCompanyComment] [nvarchar](50) NULL,
	[ServiceCode] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompany] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[IdCountry] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Currency] [nvarchar](10) NOT NULL,
	[Status] [int] NOT NULL,
	[DateC] [datetime] NOT NULL,
	[UserC] [nvarchar](100) NOT NULL,
	[DateU] [datetime] NULL,
	[UserU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCountry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentsTypes]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentsTypes](
	[IdDocumentType] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Status] [int] NULL,
	[DateC] [datetime] NULL,
	[UserC] [nvarchar](100) NULL,
	[DateU] [datetime] NULL,
	[UserU] [nvarchar](100) NULL,
	[MaskPattern] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDocumentType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parameters]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parameters](
	[IdParameters] [int] IDENTITY(1,1) NOT NULL,
	[LastMonth] [bit] NOT NULL,
	[CountDays] [int] NULL,
	[MaxAmount] [decimal](18, 2) NOT NULL,
	[MaxTransactions] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[DateC] [datetime] NOT NULL,
	[UserC] [nvarchar](100) NOT NULL,
	[DateU] [datetime] NULL,
	[UserU] [nvarchar](100) NULL,
	[TransactionType] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdParameters] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[IdReview] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[ReviewFile] [nvarchar](300) NULL,
	[Description] [nvarchar](500) NULL,
	[Status] [int] NOT NULL,
	[DateC] [datetime] NOT NULL,
	[UserC] [nvarchar](100) NOT NULL,
	[DateU] [datetime] NULL,
	[UserU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReview] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingsLicenses]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingsLicenses](
	[IdTrainingsLicenses] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[TrainingsLicensesFile] [nvarchar](300) NULL,
	[Description] [nvarchar](500) NULL,
	[Status] [int] NOT NULL,
	[DateC] [datetime] NOT NULL,
	[UserC] [nvarchar](100) NOT NULL,
	[DateU] [datetime] NULL,
	[UserU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTrainingsLicenses] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionAttachments]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionAttachments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdTransaction] [int] NOT NULL,
	[FileName] [nvarchar](300) NOT NULL,
	[OriginalFileName] [nvarchar](300) NOT NULL,
	[FileExtension] [nvarchar](20) NULL,
	[ContentType] [nvarchar](100) NULL,
	[FilePath] [nvarchar](1000) NOT NULL,
	[AttachmentType] [nvarchar](50) NOT NULL,
	[FileSize] [bigint] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionReferenceSequences]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionReferenceSequences](
	[IdSequence] [int] IDENTITY(1,1) NOT NULL,
	[SenderCompany] [int] NOT NULL,
	[TransactionType] [int] NOT NULL,
	[LastSequence] [bigint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[IdTransaction] [int] IDENTITY(1,1) NOT NULL,
	[TransactionType] [int] NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[TransactionDate] [datetime] NULL,
	[ReferenceNumber] [nvarchar](50) NULL,
	[SenderCountry] [nvarchar](100) NULL,
	[SenderCompany] [int] NULL,
	[SenderCurrency] [int] NULL,
	[SenderName] [nvarchar](150) NULL,
	[SenderDocumentType] [int] NULL,
	[SenderDocumentNumber] [nvarchar](50) NULL,
	[SenderPhone] [nvarchar](20) NULL,
	[SenderAddress] [nvarchar](250) NULL,
	[ReceiverCountry] [nvarchar](100) NULL,
	[ReceiverCompany] [int] NULL,
	[ReceiverCurrency] [int] NULL,
	[ReceiverName] [nvarchar](150) NULL,
	[ReceiverDocumentType] [int] NULL,
	[ReceiverDocumentNumber] [nvarchar](50) NULL,
	[ReceiverPhone] [nvarchar](20) NULL,
	[ReceiverAddress] [nvarchar](250) NULL,
	[JustifyDetails] [nvarchar](300) NULL,
	[Status] [int] NULL,
	[DateC] [datetime] NULL,
	[UserC] [nvarchar](100) NULL,
	[DateU] [datetime] NULL,
	[UserU] [nvarchar](100) NULL,
	[SenderClientId] [int] NULL,
	[ReceiverClientId] [int] NULL,
	[Comission] [decimal](18, 2) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[IdClient_fk] [int] NULL,
	[IdBeneficiarie_fk] [int] NULL,
	[TransactionFile] [varchar](255) NULL,
	[TransactionStatus] [varchar](20) NULL,
	[TransactionsStatusComment] [nvarchar](200) NULL,
	[Justify_DateError] [datetime2](7) NULL,
	[Justify_AgentName] [varchar](100) NOT NULL,
	[FixedCommission] [decimal](18, 2) NULL,
	[IssueDateCheck] [datetime2](7) NULL,
	[CalculationMode] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTransaction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypesTransactions]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypesTransactions](
	[IdTypeTransaction] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Commission] [decimal](10, 2) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Status] [int] NULL,
	[DateC] [datetime] NULL,
	[UserC] [nvarchar](100) NULL,
	[DateU] [datetime] NULL,
	[UserU] [nvarchar](100) NULL,
	[NumberT] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTypeTransaction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypesTransactionsCommissions]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypesTransactionsCommissions](
	[IdCommission] [int] IDENTITY(1,1) NOT NULL,
	[NumberT] [int] NOT NULL,
	[MinAmount] [decimal](18, 2) NOT NULL,
	[MaxAmount] [decimal](18, 2) NOT NULL,
	[CommissionPercent] [decimal](10, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[DateC] [datetime] NOT NULL,
	[UserC] [nvarchar](100) NULL,
	[DateU] [datetime] NULL,
	[UserU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCommission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Beneficiaries] ON 

INSERT [dbo].[Beneficiaries] ([IdBeneficiarie], [FirstName], [LastName], [IdDocumentType], [DocumentNumber], [Country], [Status], [DateC], [UserC], [DateU], [UserU], [IdClient_fk], [Phone], [Address]) VALUES (1, N'Patrick Andres', N'Mendez Granados', N'1', N'05515151-5', N'6', 1, CAST(N'2026-04-28T21:39:59.040' AS DateTime), N'admin', NULL, NULL, 10, N'N/A', N'N/A')
INSERT [dbo].[Beneficiaries] ([IdBeneficiarie], [FirstName], [LastName], [IdDocumentType], [DocumentNumber], [Country], [Status], [DateC], [UserC], [DateU], [UserU], [IdClient_fk], [Phone], [Address]) VALUES (2, N'Juan Jose', N'Gudiel Rodriguez', N'1', N'05412451-51', N'8', 0, CAST(N'2026-04-28T22:00:22.760' AS DateTime), N'admin', CAST(N'2026-06-18T00:48:09.507' AS DateTime), N'admin', 9, N'N/A', N'N/A')
INSERT [dbo].[Beneficiaries] ([IdBeneficiarie], [FirstName], [LastName], [IdDocumentType], [DocumentNumber], [Country], [Status], [DateC], [UserC], [DateU], [UserU], [IdClient_fk], [Phone], [Address]) VALUES (3, N'Pedro Andres', N'Molinero Granados', N'1', N'0551515151', N'1', 1, CAST(N'2026-04-28T22:06:23.450' AS DateTime), N'admin', CAST(N'2026-06-03T00:27:39.277' AS DateTime), N'admin', 8, N'(010)-111-1111', N'N/A 2')
SET IDENTITY_INSERT [dbo].[Beneficiaries] OFF
GO
SET IDENTITY_INSERT [dbo].[ClientCompanies] ON 

INSERT [dbo].[ClientCompanies] ([IdClientCompany], [IdClient], [IdCompany], [AccountNumber], [AccountName], [Status], [DateC], [UserC], [DateU], [UserU]) VALUES (1, 8, 55, N'111', NULL, 0, CAST(N'2026-06-18T00:46:44.813' AS DateTime), N'admin', CAST(N'2026-06-18T00:51:33.330' AS DateTime), N'admin')
INSERT [dbo].[ClientCompanies] ([IdClientCompany], [IdClient], [IdCompany], [AccountNumber], [AccountName], [Status], [DateC], [UserC], [DateU], [UserU]) VALUES (2, 9, 57, N'12345', NULL, 0, CAST(N'2026-06-18T00:47:14.580' AS DateTime), N'admin', CAST(N'2026-06-18T00:51:26.447' AS DateTime), N'admin')
INSERT [dbo].[ClientCompanies] ([IdClientCompany], [IdClient], [IdCompany], [AccountNumber], [AccountName], [Status], [DateC], [UserC], [DateU], [UserU]) VALUES (3, 8, 57, N'EE-1324', NULL, 1, CAST(N'2026-06-18T00:48:03.347' AS DateTime), N'admin', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ClientCompanies] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([IdClient], [FirstName], [LastName], [IdDocumentType], [DocumentNumber], [Address], [ExpirationDate], [Phone], [Country], [Picture], [Status], [DateC], [UserC], [DateU], [UserU], [IssueDate]) VALUES (1, N'Ulises', N'Samayoa', N'DUI', N'05517563-0', N'Santa Ana, El Salvador', CAST(N'2026-04-24' AS Date), N'79521983', N'1', N'/uploads/clients/05517563-0_20260424213126.png', 0, CAST(N'2026-04-24T21:31:26.763' AS DateTime), N'admin', CAST(N'2026-04-24T23:07:36.907' AS DateTime), N'admin', NULL)
INSERT [dbo].[Clients] ([IdClient], [FirstName], [LastName], [IdDocumentType], [DocumentNumber], [Address], [ExpirationDate], [Phone], [Country], [Picture], [Status], [DateC], [UserC], [DateU], [UserU], [IssueDate]) VALUES (2, N'Jose', N'Gudiel', N'DUI', N'05141545-8', N'5adas 7', CAST(N'2027-05-25' AS Date), N'48488488', N'5', N'/uploads/clients/05141545-8_20260424220156.png', 0, CAST(N'2026-04-24T22:01:56.277' AS DateTime), N'admin', CAST(N'2026-04-24T23:06:54.353' AS DateTime), N'admin', NULL)
INSERT [dbo].[Clients] ([IdClient], [FirstName], [LastName], [IdDocumentType], [DocumentNumber], [Address], [ExpirationDate], [Phone], [Country], [Picture], [Status], [DateC], [UserC], [DateU], [UserU], [IssueDate]) VALUES (3, N'Katherinne', N'Mendez', N'DUI', N'05923411-9', N'Direccion', CAST(N'2027-12-01' AS Date), N'1515515515515', N'9', N'/uploads/clients/05923411-9_20260424220302.jpg', 0, CAST(N'2026-04-24T22:03:02.663' AS DateTime), N'admin', CAST(N'2026-04-24T23:07:34.390' AS DateTime), N'admin', NULL)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([IdCompany], [Name], [SwiftCode], [Country], [IdCountry], [Phone], [Status], [DateC], [UserC], [DateU], [UserU], [TransactionType], [ContactPerson], [Position], [PhoneContactPerson], [StatusCompany], [StatusCompanyComment], [ServiceCode]) VALUES (1, N'SV - Company CC', N'SV-050403', N'
                                El Salvador
                            ', N'1', N'051515', 1, CAST(N'2026-05-12T15:55:39.760' AS DateTime), N'admin', CAST(N'2026-05-12T16:25:00.507' AS DateTime), N'admin', 1, NULL, NULL, NULL, N'Excellent', NULL, NULL)
INSERT [dbo].[Companies] ([IdCompany], [Name], [SwiftCode], [Country], [IdCountry], [Phone], [Status], [DateC], [UserC], [DateU], [UserU], [TransactionType], [ContactPerson], [Position], [PhoneContactPerson], [StatusCompany], [StatusCompanyComment], [ServiceCode]) VALUES (2, N'GT - Company CC', N'GT2121', N'
                                Guatemala
                            ', N'2', N'5545', 1, CAST(N'2026-05-12T15:56:19.867' AS DateTime), N'admin', CAST(N'2026-05-12T16:26:30.380' AS DateTime), N'admin', 1, NULL, NULL, NULL, N'Excellent', NULL, NULL)
INSERT [dbo].[Companies] ([IdCompany], [Name], [SwiftCode], [Country], [IdCountry], [Phone], [Status], [DateC], [UserC], [DateU], [UserU], [TransactionType], [ContactPerson], [Position], [PhoneContactPerson], [StatusCompany], [StatusCompanyComment], [ServiceCode]) VALUES (3, N'PN - Company CC', N'1212', N'
                                Panamá
                            ', N'5', N'1212', 1, CAST(N'2026-05-12T16:26:11.463' AS DateTime), N'admin', NULL, NULL, 1, NULL, NULL, NULL, N'Excellent', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([IdCountry], [Name], [Code], [Currency], [Status], [DateC], [UserC], [DateU], [UserU]) VALUES (1, N'El Salvador', N'SV', N'USD', 1, CAST(N'2026-04-21T23:08:42.627' AS DateTime), N'admin', CAST(N'2026-04-22T21:39:29.137' AS DateTime), N'admin')
INSERT [dbo].[Countries] ([IdCountry], [Name], [Code], [Currency], [Status], [DateC], [UserC], [DateU], [UserU]) VALUES (2, N'Guatemala', N'GT', N'GTQ', 1, CAST(N'2026-04-21T23:09:10.880' AS DateTime), N'admin', CAST(N'2026-04-22T21:40:03.170' AS DateTime), N'admin')
INSERT [dbo].[Countries] ([IdCountry], [Name], [Code], [Currency], [Status], [DateC], [UserC], [DateU], [UserU]) VALUES (3, N'Honduras', N'HN', N'Lempiras', 0, CAST(N'2026-04-21T23:14:51.607' AS DateTime), N'admin', CAST(N'2026-04-21T23:15:59.767' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentsTypes] ON 

INSERT [dbo].[DocumentsTypes] ([IdDocumentType], [Name], [Description], [Status], [DateC], [UserC], [DateU], [UserU], [MaskPattern]) VALUES (1, N'DUI', N'Documento Unico de Identidad', 1, CAST(N'2026-04-25T00:06:55.610' AS DateTime), N'admin', CAST(N'2026-06-10T22:33:36.830' AS DateTime), N'admin', N'99999999-9')
INSERT [dbo].[DocumentsTypes] ([IdDocumentType], [Name], [Description], [Status], [DateC], [UserC], [DateU], [UserU], [MaskPattern]) VALUES (2, N'Passport', N'Numero de pasaporte', 1, CAST(N'2026-04-25T00:10:50.863' AS DateTime), N'admin', CAST(N'2026-06-10T22:33:56.243' AS DateTime), N'admin', N'9999999999999999999999')
INSERT [dbo].[DocumentsTypes] ([IdDocumentType], [Name], [Description], [Status], [DateC], [UserC], [DateU], [UserU], [MaskPattern]) VALUES (3, N'12 s', N'12', 0, CAST(N'2026-04-25T00:19:15.620' AS DateTime), N'admin', CAST(N'2026-04-25T00:20:26.333' AS DateTime), N'admin', NULL)
SET IDENTITY_INSERT [dbo].[DocumentsTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Parameters] ON 

INSERT [dbo].[Parameters] ([IdParameters], [LastMonth], [CountDays], [MaxAmount], [MaxTransactions], [Status], [DateC], [UserC], [DateU], [UserU], [TransactionType]) VALUES (2, 0, 30, CAST(5000.00 AS Decimal(18, 2)), 10, 1, CAST(N'2026-05-09T00:25:43.403' AS DateTime), N'admin', NULL, NULL, 3)
INSERT [dbo].[Parameters] ([IdParameters], [LastMonth], [CountDays], [MaxAmount], [MaxTransactions], [Status], [DateC], [UserC], [DateU], [UserU], [TransactionType]) VALUES (3, 0, 30, CAST(1000.00 AS Decimal(18, 2)), 10, 1, CAST(N'2026-05-25T22:07:50.353' AS DateTime), N'admin', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Parameters] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([IdReview], [Name], [ReviewFile], [Description], [Status], [DateC], [UserC], [DateU], [UserU]) VALUES (1, N'1', N'/uploads/reviews/1_20260422235352.png', N'1', 0, CAST(N'2026-04-22T23:46:34.770' AS DateTime), N'admin', CAST(N'2026-04-22T23:57:03.800' AS DateTime), N'admin')
INSERT [dbo].[Reviews] ([IdReview], [Name], [ReviewFile], [Description], [Status], [DateC], [UserC], [DateU], [UserU]) VALUES (2, N'1', N'', N'', 0, CAST(N'2026-04-22T23:57:14.107' AS DateTime), N'admin', CAST(N'2026-04-22T23:58:45.040' AS DateTime), N'admin')
INSERT [dbo].[Reviews] ([IdReview], [Name], [ReviewFile], [Description], [Status], [DateC], [UserC], [DateU], [UserU]) VALUES (3, N'Prueba', N'/uploads/reviews/11_20260422235838.pdf', N'Test - Prueba', 1, CAST(N'2026-04-22T23:58:38.640' AS DateTime), N'admin', CAST(N'2026-04-23T00:02:19.790' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingsLicenses] ON 

INSERT [dbo].[TrainingsLicenses] ([IdTrainingsLicenses], [Name], [TrainingsLicensesFile], [Description], [Status], [DateC], [UserC], [DateU], [UserU]) VALUES (1, N'12', N'', N'12', 0, CAST(N'2026-04-22T22:44:07.700' AS DateTime), N'admin', CAST(N'2026-04-22T23:00:15.503' AS DateTime), N'admin')
INSERT [dbo].[TrainingsLicenses] ([IdTrainingsLicenses], [Name], [TrainingsLicensesFile], [Description], [Status], [DateC], [UserC], [DateU], [UserU]) VALUES (2, N'1', N'/uploads/trainings/1_20260422224611.png', N'1', 0, CAST(N'2026-04-22T22:46:11.393' AS DateTime), N'admin', CAST(N'2026-04-22T23:00:18.287' AS DateTime), N'admin')
INSERT [dbo].[TrainingsLicenses] ([IdTrainingsLicenses], [Name], [TrainingsLicensesFile], [Description], [Status], [DateC], [UserC], [DateU], [UserU]) VALUES (3, N'Prueba 24444 5', N'/uploads/trainings/Prueba_24444_5_20260422231250.pdf', N'11 24444 5', 1, CAST(N'2026-04-22T22:47:29.857' AS DateTime), N'admin', CAST(N'2026-04-22T23:12:50.100' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[TrainingsLicenses] OFF
GO
SET IDENTITY_INSERT [dbo].[TypesTransactions] ON 

INSERT [dbo].[TypesTransactions] ([IdTypeTransaction], [Name], [Commission], [Description], [Status], [DateC], [UserC], [DateU], [UserU], [NumberT]) VALUES (1, N'Check cashing - 1', CAST(0.00 AS Decimal(10, 2)), N'Check cashing', 1, CAST(N'2026-05-02T19:56:07.900' AS DateTime), N'admin', CAST(N'2026-06-15T21:31:40.850' AS DateTime), N'admin', 1)
INSERT [dbo].[TypesTransactions] ([IdTypeTransaction], [Name], [Commission], [Description], [Status], [DateC], [UserC], [DateU], [UserU], [NumberT]) VALUES (2, N'Money order - 2', CAST(0.00 AS Decimal(10, 2)), N'Money order', 1, CAST(N'2026-05-02T19:56:26.290' AS DateTime), N'admin', CAST(N'2026-06-15T21:06:21.400' AS DateTime), N'admin', 2)
INSERT [dbo].[TypesTransactions] ([IdTypeTransaction], [Name], [Commission], [Description], [Status], [DateC], [UserC], [DateU], [UserU], [NumberT]) VALUES (3, N'Money transfer - 3', CAST(0.00 AS Decimal(10, 2)), N'Money transfer', 1, CAST(N'2026-05-02T19:56:37.553' AS DateTime), N'admin', CAST(N'2026-06-15T19:32:47.327' AS DateTime), N'admin', 3)
SET IDENTITY_INSERT [dbo].[TypesTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[TypesTransactionsCommissions] ON 

INSERT [dbo].[TypesTransactionsCommissions] ([IdCommission], [NumberT], [MinAmount], [MaxAmount], [CommissionPercent], [Status], [DateC], [UserC], [DateU], [UserU]) VALUES (11, 3, CAST(1.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), CAST(3.00 AS Decimal(10, 2)), 1, CAST(N'2026-06-15T19:32:47.393' AS DateTime), N'admin', NULL, NULL)
INSERT [dbo].[TypesTransactionsCommissions] ([IdCommission], [NumberT], [MinAmount], [MaxAmount], [CommissionPercent], [Status], [DateC], [UserC], [DateU], [UserU]) VALUES (12, 3, CAST(201.00 AS Decimal(18, 2)), CAST(400.00 AS Decimal(18, 2)), CAST(4.00 AS Decimal(10, 2)), 1, CAST(N'2026-06-15T19:32:47.403' AS DateTime), N'admin', NULL, NULL)
INSERT [dbo].[TypesTransactionsCommissions] ([IdCommission], [NumberT], [MinAmount], [MaxAmount], [CommissionPercent], [Status], [DateC], [UserC], [DateU], [UserU]) VALUES (13, 3, CAST(401.00 AS Decimal(18, 2)), CAST(600.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(10, 2)), 1, CAST(N'2026-06-15T19:32:47.403' AS DateTime), N'admin', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TypesTransactionsCommissions] OFF
GO
ALTER TABLE [dbo].[Beneficiaries] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Beneficiaries] ADD  DEFAULT (getdate()) FOR [DateC]
GO
ALTER TABLE [dbo].[Beneficiaries] ADD  DEFAULT ('N/A') FOR [Phone]
GO
ALTER TABLE [dbo].[Beneficiaries] ADD  DEFAULT ('N/A') FOR [Address]
GO
ALTER TABLE [dbo].[ClientCompanies] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ClientCompanies] ADD  DEFAULT (getdate()) FOR [DateC]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT (getdate()) FOR [DateC]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT (NULL) FOR [IssueDate]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT (getdate()) FOR [DateC]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT ((0)) FOR [TransactionType]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT ('N/A') FOR [ContactPerson]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT ('N/A') FOR [Position]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT ('N/A') FOR [PhoneContactPerson]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT ('Excellent') FOR [StatusCompany]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT ('N/A') FOR [StatusCompanyComment]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT ('0') FOR [ServiceCode]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (getdate()) FOR [DateC]
GO
ALTER TABLE [dbo].[DocumentsTypes] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[DocumentsTypes] ADD  DEFAULT (getdate()) FOR [DateC]
GO
ALTER TABLE [dbo].[Parameters] ADD  DEFAULT ((1)) FOR [LastMonth]
GO
ALTER TABLE [dbo].[Parameters] ADD  DEFAULT ((0)) FOR [MaxAmount]
GO
ALTER TABLE [dbo].[Parameters] ADD  DEFAULT ((0)) FOR [MaxTransactions]
GO
ALTER TABLE [dbo].[Parameters] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Parameters] ADD  DEFAULT (getdate()) FOR [DateC]
GO
ALTER TABLE [dbo].[Parameters] ADD  DEFAULT ((3)) FOR [TransactionType]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [DateC]
GO
ALTER TABLE [dbo].[TrainingsLicenses] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[TrainingsLicenses] ADD  DEFAULT (getdate()) FOR [DateC]
GO
ALTER TABLE [dbo].[TransactionAttachments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TransactionReferenceSequences] ADD  DEFAULT ((0)) FOR [LastSequence]
GO
ALTER TABLE [dbo].[TransactionReferenceSequences] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [DateC]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (NULL) FOR [TransactionFile]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('Completed') FOR [TransactionStatus]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('No comments') FOR [TransactionsStatusComment]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [Justify_DateError]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('Unknown') FOR [Justify_AgentName]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0.00)) FOR [FixedCommission]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((1)) FOR [CalculationMode]
GO
ALTER TABLE [dbo].[TypesTransactions] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[TypesTransactions] ADD  DEFAULT (getdate()) FOR [DateC]
GO
ALTER TABLE [dbo].[TypesTransactions] ADD  DEFAULT ((0)) FOR [NumberT]
GO
ALTER TABLE [dbo].[TypesTransactionsCommissions] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[TypesTransactionsCommissions] ADD  DEFAULT (getdate()) FOR [DateC]
GO
ALTER TABLE [dbo].[Beneficiaries]  WITH CHECK ADD  CONSTRAINT [FK_Beneficiaries_Clients] FOREIGN KEY([IdClient_fk])
REFERENCES [dbo].[Clients] ([IdClient])
GO
ALTER TABLE [dbo].[Beneficiaries] CHECK CONSTRAINT [FK_Beneficiaries_Clients]
GO
ALTER TABLE [dbo].[TransactionAttachments]  WITH CHECK ADD  CONSTRAINT [FK_TransactionAttachments_Transaction] FOREIGN KEY([IdTransaction])
REFERENCES [dbo].[Transactions] ([IdTransaction])
GO
ALTER TABLE [dbo].[TransactionAttachments] CHECK CONSTRAINT [FK_TransactionAttachments_Transaction]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Beneficiaries] FOREIGN KEY([IdBeneficiarie_fk])
REFERENCES [dbo].[Beneficiaries] ([IdBeneficiarie])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Beneficiaries]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Clients] FOREIGN KEY([IdClient_fk])
REFERENCES [dbo].[Clients] ([IdClient])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Clients]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_ReceiverClient] FOREIGN KEY([ReceiverClientId])
REFERENCES [dbo].[Clients] ([IdClient])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_ReceiverClient]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_SenderClient] FOREIGN KEY([SenderClientId])
REFERENCES [dbo].[Clients] ([IdClient])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_SenderClient]
GO
/****** Object:  StoredProcedure [dbo].[sp_Companies_ChangeStatus]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Companies_ChangeStatus]
(
    @IdCompany INT,
    @Status NVARCHAR(50),
    @StatusCompanyComment NVARCHAR(255)
)
AS
BEGIN

    SET NOCOUNT ON;

    UPDATE Companies
    SET
        StatusCompany = @Status,
        StatusCompanyComment = @StatusCompanyComment,
        DateU = GETDATE(),
        UserU = 'admin'
    WHERE IdCompany = @IdCompany;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateBeneficiarie]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateBeneficiarie]
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @IdDocumentType NVARCHAR(10),
    @DocumentNumber NVARCHAR(50),
    @Country NVARCHAR(100),
    @Address NVARCHAR(200),
    @Phone NVARCHAR(20),
    @IdClient_fk INT,
    @UserC NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF EXISTS (
            SELECT 1 
            FROM Beneficiaries
            WHERE DocumentNumber = @DocumentNumber
            AND IdDocumentType = @IdDocumentType
            AND IdClient_fk = @IdClient_fk
            AND Status = 1
        )
        BEGIN
            THROW 50001, 'Beneficiary already exists for this client', 1;
        END

        INSERT INTO Beneficiaries
        (
            FirstName,
            LastName,
            IdDocumentType,
            DocumentNumber,
            Country,
            Address,
            Phone,
            IdClient_fk,
            Status,
            DateC,
            UserC
        )
        OUTPUT INSERTED.IdBeneficiarie
        VALUES
        (
            @FirstName,
            @LastName,
            @IdDocumentType,
            @DocumentNumber,
            @Country,
            @Address,
            @Phone,
            @IdClient_fk,
            1,
            GETDATE(),
            @UserC
        );

    END TRY
    BEGIN CATCH

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        THROW 50002, @ErrorMessage, 1;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateClient]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateClient]
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @IdDocumentType NVARCHAR(50),
    @DocumentNumber NVARCHAR(50),
    @Address NVARCHAR(200),
    @ExpirationDate DATE,
    @Phone NVARCHAR(20),
    @Country NVARCHAR(100),
    @Picture NVARCHAR(300),
    @IssueDate DATEtime2,
    @UserC NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF EXISTS (
            SELECT 1 
            FROM Clients
            WHERE DocumentNumber = @DocumentNumber
            AND Status = 1
        )
        BEGIN
            THROW 50001, 'Client with this document already exists', 1;
        END

        INSERT INTO Clients (
            FirstName, LastName, IdDocumentType, DocumentNumber,
            Address, ExpirationDate, Phone, Country, Picture,
            Status, IssueDate, DateC, UserC
        )
        OUTPUT INSERTED.IdClient
        VALUES (
            @FirstName, @LastName, @IdDocumentType, @DocumentNumber,
            @Address, @ExpirationDate, @Phone, @Country, @Picture,
            1, @IssueDate, GETDATE(), @UserC
        );

    END TRY
    BEGIN CATCH

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        THROW 50002, @ErrorMessage, 1;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateClientCompany]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateClientCompany]
(
    @IdClient INT,
    @IdCompany INT,
    @AccountNumber NVARCHAR(100),
    @UserC NVARCHAR(100)
)
AS
BEGIN

    SET NOCOUNT ON;

    ----------------------------------------------------
    -- VALIDAR CUENTA DUPLICADA
    ----------------------------------------------------
    IF EXISTS
    (
        SELECT 1
        FROM ClientCompanies
        WHERE IdCompany = @IdCompany
        AND AccountNumber = @AccountNumber
        AND Status = 1
    )
    BEGIN

        RAISERROR(
            'Account number already exists for this company',
            16,
            1
        );

        RETURN;

    END

    ----------------------------------------------------
    -- INSERT
    ----------------------------------------------------
    INSERT INTO ClientCompanies
    (
        IdClient,
        IdCompany,
        AccountNumber,
        Status,
        DateC,
        UserC
    )
    VALUES
    (
        @IdClient,
        @IdCompany,
        @AccountNumber,
        1,
        GETDATE(),
        @UserC
    );

END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateCompany]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateCompany]
    @Name NVARCHAR(150),
    @SwiftCode NVARCHAR(20),
    @Country NVARCHAR(100),
    @IdCountry NVARCHAR(10),
    @TransactionType INT,
    @Phone NVARCHAR(20),
    @ContactPerson NVARCHAR(50),
    @PhoneContactPerson NVARCHAR(50),
    @Position NVARCHAR(50),
    @StatusCompany NVARCHAR(50),
    @UserC NVARCHAR(100),
    @ServiceCode VARCHAR(100) = NULL
AS
BEGIN

    SET NOCOUNT ON;

    ------------------------------------------------------------
    -- PAID SERVICE
    ------------------------------------------------------------
    IF @TransactionType = 4
    BEGIN

        SET @SwiftCode = NULL;

        IF EXISTS (
            SELECT 1
            FROM Companies
            WHERE ServiceCode = @ServiceCode
            AND Status = 1
        )
        BEGIN
            RAISERROR(
                'Company with this ServiceCode already exists',
                16,
                1
            );
            RETURN;
        END

    END
    ------------------------------------------------------------
    -- FINANCIAL COMPANIES
    ------------------------------------------------------------
    ELSE
    BEGIN

        IF EXISTS (
            SELECT 1
            FROM Companies
            WHERE SwiftCode = @SwiftCode
            AND Status = 1
        )
        BEGIN
            RAISERROR(
                'Company with this SwiftCode already exists',
                16,
                1
            );
            RETURN;
        END

    END

    ------------------------------------------------------------
    -- INSERT
    ------------------------------------------------------------
    INSERT INTO Companies
    (
        Name,
        SwiftCode,
        Country,
        IdCountry,
        Phone,
        UserC,
        TransactionType,
        ContactPerson,
        Position,
        PhoneContactPerson,
        StatusCompany,
        ServiceCode
    )
    VALUES
    (
        @Name,
        @SwiftCode,
        @Country,
        @IdCountry,
        @Phone,
        @UserC,
        @TransactionType,
        @ContactPerson,
        @Position,
        @PhoneContactPerson,
        @StatusCompany,
        @ServiceCode
    );

END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateCountry]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateCountry]
    @Name NVARCHAR(150),
    @Code NVARCHAR(10),
    @Currency NVARCHAR(10),
    @UserC NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM Countries 
        WHERE Code = @Code AND Status = 1
    )
    BEGIN
        RAISERROR('Country with this Code already exists',16,1);
        RETURN;
    END

    INSERT INTO Countries (Name, Code, Currency, UserC)
    VALUES (@Name, @Code, @Currency, @UserC);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateDocumentType]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateDocumentType]
    @Name NVARCHAR(100),
    @Description NVARCHAR(250),
    @MaskPattern NVARCHAR(100),
    @UserC NVARCHAR(100)
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM DocumentsTypes 
        WHERE Name = @Name AND Status = 1
    )
    BEGIN
        RAISERROR('Document Type already exists',16,1)
        RETURN
    END

    INSERT INTO DocumentsTypes (Name, Description, MaskPattern, UserC)
    VALUES (@Name, @Description, @MaskPattern, @UserC)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateParameters]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateParameters]
    @LastMonth BIT,
    @CountDays INT,
    @MaxTransactions int,
    @MaxAmount DECIMAL(18,2),
    @Transactiontype INT,
    @UserC NVARCHAR(100)
AS
BEGIN

    SET NOCOUNT ON;

    INSERT INTO Parameters
    (
        LastMonth,
        CountDays,
        MaxTransactions,
        MaxAmount,
        Transactiontype,
        Status,
        DateC,
        UserC
    )
    OUTPUT INSERTED.IdParameters
    VALUES
    (
        @LastMonth,
        @CountDays,
        @MaxTransactions,
        @MaxAmount,
        @Transactiontype,
        1,
        GETDATE(),
        @UserC
    )

END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateReview]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateReview]
    @Name NVARCHAR(150),
    @File NVARCHAR(300),
    @Description NVARCHAR(500),
    @UserC NVARCHAR(100)
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM Reviews 
        WHERE Name = @Name AND Status = 1
    )
    BEGIN
        RAISERROR('Review already exists',16,1);
        RETURN;
    END

    INSERT INTO Reviews (Name, ReviewFile, Description, UserC)
    VALUES (@Name, @File, @Description, @UserC);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateSimpleTransaction]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateSimpleTransaction]
(
    @IdClient_fk INT,
    @ReferenceNumber NVARCHAR(50),
    @TransactionType INT,
    @Company INT,
    @Amount DECIMAL(18,2),
    @Commission DECIMAL(18,2),
    @TotalAmount DECIMAL(18,2),
    @FixedCommission DECIMAL(18,2),
    @IssueDateCheck DATETIME2 = NULL,
    @SenderName NVARCHAR(150),
    @SenderDocumentType INT,
    @SenderDocumentNumber NVARCHAR(50),
    @SenderPhone NVARCHAR(20),
    @SenderAddress NVARCHAR(250),
    @Justify_AgentName NVARCHAR(100),
    @justify_DateError DATETIME2 = NULL,
    @JustifyDetails NVARCHAR(300),
    @CalculationMode TINYINT,
    @UserC NVARCHAR(100)
)
AS
BEGIN

    SET NOCOUNT ON;

    ---------------------------------------------------
    -- VALIDAR REFERENCIA
    ---------------------------------------------------
    IF EXISTS
    (
        SELECT 1
        FROM Transactions
        WHERE ReferenceNumber = @ReferenceNumber
        AND Status = 1
    )
    BEGIN
        THROW 50001,
              'Reference number already exists',
              1;
    END

    ---------------------------------------------------
    -- VALIDAR TIPO DE TRANSACCIÓN
    ---------------------------------------------------
    IF NOT EXISTS
    (
        SELECT 1
        FROM TypesTransactions
        --WHERE IdTypeTransaction = @TransactionType
        --SE CAMBIA POR NUMBERT POR QUE ESE SE HARDCOREA EN LA VISTA
        WHERE NumberT = @TransactionType
        AND Status = 1
    )
    BEGIN
        THROW 50002,
              'Invalid transaction type',
              1;
    END

    ---------------------------------------------------
-- VALIDAR TOTALES
---------------------------------------------------
        DECLARE @ExpectedTotal DECIMAL(18,2);

        SET @ExpectedTotal =
            @Amount
            + ISNULL(@Commission,0)
            + ISNULL(@FixedCommission,0);

        IF ABS(@ExpectedTotal - @TotalAmount) > 0.01
        BEGIN
            THROW 50003,
                'Total amount mismatch',
                1;
        END

    ---------------------------------------------------
    -- VALIDAR CLIENTE
    ---------------------------------------------------
    IF NOT EXISTS
    (
        SELECT 1
        FROM Clients
        WHERE IdClient = @IdClient_fk
        AND Status = 1
    )
    BEGIN
        THROW 50004,
              'Client no longer exists',
              1;
    END

    ---------------------------------------------------
    -- VALIDAR COMPAÑÍA
    ---------------------------------------------------
    IF NOT EXISTS
    (
        SELECT 1
        FROM Companies
        WHERE IdCompany = @Company
        AND Status = 1
    )
    BEGIN
        THROW 50005,
              'Company no longer exists',
              1;
    END

    ---------------------------------------------------
    -- INSERT
    ---------------------------------------------------
    INSERT INTO Transactions
    (
        TransactionType,
        Amount,
        Comission,
        TotalAmount,
        ReferenceNumber,
        FixedCommission,
        IssueDateCheck,
        SenderCountry,
        SenderCompany,
        SenderCurrency,
        SenderName,
        SenderDocumentType,
        SenderDocumentNumber,
        SenderPhone,
        SenderAddress,

        ReceiverCountry,
        ReceiverCompany,
        ReceiverCurrency,
        ReceiverName,
        ReceiverDocumentType,
        ReceiverDocumentNumber,
        ReceiverPhone,
        ReceiverAddress,

        IdClient_fk,
        IdBeneficiarie_fk,

        JustifyDetails,

        Status,
        DateC,
        UserC,
        Justify_AgentName,
        Justify_DateError,
        CalculationMode
    )
    VALUES
    (
        @TransactionType,
        @Amount,
        @Commission,
        @TotalAmount,
        @ReferenceNumber,
        @FixedCommission,
        @IssueDateCheck,
        NULL,
        @Company,
        NULL,
        @SenderName,
        @SenderDocumentType,
        @SenderDocumentNumber,
        @SenderPhone,
        @SenderAddress,

        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,

        @IdClient_fk,
        NULL,

        @JustifyDetails,

        1,
        GETDATE(),
        @UserC,
        @Justify_AgentName,
        @Justify_DateError,
        @CalculationMode
    );

    ---------------------------------------------------
    -- RETORNAR ID
    ---------------------------------------------------
    SELECT CAST(SCOPE_IDENTITY() AS INT)
        AS IdTransaction;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTrainingLicense]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateTrainingLicense]
    @Name NVARCHAR(150),
    @File NVARCHAR(300),
    @Description NVARCHAR(500),
    @UserC NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM TrainingsLicenses 
        WHERE Name = @Name AND Status = 1
    )
    BEGIN
        RAISERROR('Training already exists',16,1);
        RETURN;
    END

    INSERT INTO TrainingsLicenses (Name, TrainingsLicensesFile, Description, UserC)
    VALUES (@Name, @File, @Description, @UserC);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTransaction]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateTransaction]
(
    @TransactionType INT,
    @Amount DECIMAL(12,2),
    @Commission DECIMAL(12,2),
    @FixedCommission DECIMAL(18,2),
    @TotalAmount DECIMAL(12,2),
    @ReferenceNumber NVARCHAR(50),
    @SenderCountry NVARCHAR(100),
    @SenderCompany INT,
    @SenderCurrency INT,
    @SenderName NVARCHAR(150),
    @SenderDocumentType INT,
    @SenderDocumentNumber NVARCHAR(50),
    @SenderPhone NVARCHAR(20),
    @SenderAddress NVARCHAR(250),
    @ReceiverCountry NVARCHAR(100),
    @ReceiverCompany INT,
    @ReceiverCurrency INT,
    @ReceiverName NVARCHAR(150),
    @ReceiverDocumentType INT,
    @ReceiverDocumentNumber NVARCHAR(50),
    @ReceiverPhone NVARCHAR(20),
    @ReceiverAddress NVARCHAR(250),
    @IdClient_fk INT,
    @IdBeneficiarie_fk INT,
    @JustifyDetails NVARCHAR(300),
    @TransactionFile NVARCHAR(255),
    @Justify_DateError DATETIME2 =  null,
    @Justify_AgentName VARCHAR(100),
    @CalculationMode TINYINT,
    @UserC NVARCHAR(100)
)
AS
BEGIN

    SET NOCOUNT ON;

    -- 🔥 VALIDAR REFERENCIA
    IF EXISTS(
        SELECT 1
        FROM Transactions
        WHERE ReferenceNumber = @ReferenceNumber
        AND Status = 1
    )
    BEGIN

        THROW 50001,
        'Reference number already exists',
        1;

    END

    -- 🔥 VALIDAR CLIENTE
    IF NOT EXISTS(
        SELECT 1
        FROM Clients
        WHERE IdClient = @IdClient_fk
        AND Status = 1
    )
    BEGIN

        THROW 50002,
        'Client no longer exists',
        1;

    END

    -- 🔥 VALIDAR BENEFICIARIO
    IF NOT EXISTS(
        SELECT 1
        FROM Beneficiaries
        WHERE IdBeneficiarie = @IdBeneficiarie_fk
        AND Status = 1
    )
    BEGIN

        THROW 50003,
        'Beneficiary no longer exists',
        1;

    END

    INSERT INTO Transactions
    (
        TransactionType,
        Amount,
        Comission,
        TotalAmount,
        ReferenceNumber,

        SenderCountry,
        SenderCompany,
        SenderCurrency,
        SenderName,
        SenderDocumentType,
        SenderDocumentNumber,
        SenderPhone,
        SenderAddress,

        ReceiverCountry,
        ReceiverCompany,
        ReceiverCurrency,
        ReceiverName,
        ReceiverDocumentType,
        ReceiverDocumentNumber,
        ReceiverPhone,
        ReceiverAddress,

        IdClient_fk,
        IdBeneficiarie_fk,

        JustifyDetails,
        TransactionFile,
        Justify_DateError,
        Justify_AgentName,
        FixedCommission,
        CalculationMode,
        Status,
        DateC,
        UserC
    )
    VALUES
    (
        @TransactionType,
        @Amount,
        @Commission,
        @TotalAmount,
        @ReferenceNumber,

        @SenderCountry,
        @SenderCompany,
        @SenderCurrency,
        @SenderName,
        @SenderDocumentType,
        @SenderDocumentNumber,
        @SenderPhone,
        @SenderAddress,

        @ReceiverCountry,
        @ReceiverCompany,
        @ReceiverCurrency,
        @ReceiverName,
        @ReceiverDocumentType,
        @ReceiverDocumentNumber,
        @ReceiverPhone,
        @ReceiverAddress,

        @IdClient_fk,
        @IdBeneficiarie_fk,

        @JustifyDetails,
        @TransactionFile,
        @Justify_DateError,
        @Justify_AgentName,
        @FixedCommission,
        @CalculationMode,
        1,
        GETDATE(),
        @UserC
    );
    SELECT SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTransactionAttachment]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateTransactionAttachment]
(
    @IdTransaction INT,
    @FileName NVARCHAR(300),
    @OriginalFileName NVARCHAR(300),
    @FileExtension NVARCHAR(20) = NULL,
    @ContentType NVARCHAR(100) = NULL,
    @FilePath NVARCHAR(1000),
    @AttachmentType NVARCHAR(50),
    @FileSize BIGINT = NULL,
    @CreatedBy NVARCHAR(100) = NULL
)
AS
BEGIN

    SET NOCOUNT ON;

    INSERT INTO dbo.TransactionAttachments
    (
        IdTransaction,
        FileName,
        OriginalFileName,
        FileExtension,
        ContentType,
        FilePath,
        AttachmentType,
        FileSize,
        CreatedBy
    )
    VALUES
    (
        @IdTransaction,
        @FileName,
        @OriginalFileName,
        @FileExtension,
        @ContentType,
        @FilePath,
        @AttachmentType,
        @FileSize,
        @CreatedBy
    );

    SELECT SCOPE_IDENTITY();

END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTypeTransaction]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateTypeTransaction]
    @Name NVARCHAR(150),
    @Commission DECIMAL(10,2),
    @Description NVARCHAR(250),
    @NumberT int,
    @UserC NVARCHAR(100)
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM TypesTransactions
        WHERE Name = @Name AND Status = 1
    )
    BEGIN
        RAISERROR('Type Transaction already exists',16,1)
        RETURN
    END

    INSERT INTO TypesTransactions (Name, Commission, Description, NumberT, UserC) 
    VALUES (@Name, @Commission, @Description, @NumberT, @UserC)
    SELECT SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTypeTransactionCommission]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateTypeTransactionCommission]
(
    @MinAmount DECIMAL(18,2),
    @MaxAmount DECIMAL(18,2),
    @CommissionPercent DECIMAL(10,2),
    @UserC NVARCHAR(100),
    @NumberT INT
)
AS
BEGIN

    -- INSERT INTO TypesTransactionsCommissions
    -- (
    --     IdTypeTransaction,
    --     MinAmount,
    --     MaxAmount,
    --     CommissionPercent,
    --     Status,
    --     DateC,
    --     UserC
    -- )
    -- VALUES
    -- (
    --     @IdTypeTransaction,
    --     @MinAmount,
    --     @MaxAmount,
    --     @CommissionPercent,
    --     1,
    --     GETDATE(),
    --     @UserC
    -- )
    INSERT INTO TypesTransactionsCommissions
(
    NumberT,
    MinAmount,
    MaxAmount,
    CommissionPercent,
    Status,
    DateC,
    UserC
)
VALUES
(
    @NumberT,
    @MinAmount,
    @MaxAmount,
    @CommissionPercent,
    1,
    GETDATE(),
    @UserC
);

END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteBeneficiarie]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteBeneficiarie]
    @IdBeneficiarie INT,
    @UserU NVARCHAR(100)
AS
BEGIN
    UPDATE Beneficiaries
    SET Status = 0,
        DateU = GETDATE(),
        UserU = @UserU
    WHERE IdBeneficiarie = @IdBeneficiarie
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteClient]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteClient]
    @Id INT,
    @UserU NVARCHAR(100)
AS
BEGIN
    UPDATE Clients
    SET Status = 0,
        UserU = @UserU,
        DateU = GETDATE()
    WHERE IdClient = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteClientCompany]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteClientCompany]
(
    @IdClientCompany INT,
    @UserU NVARCHAR(100)
)
AS
BEGIN

    SET NOCOUNT ON;

    UPDATE ClientCompanies
    SET
        Status = 0,
        DateU = GETDATE(),
        UserU = @UserU
    WHERE
        IdClientCompany = @IdClientCompany;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCompany]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteCompany]
    @IdCompany INT,
    @UserU NVARCHAR(100)
AS
BEGIN
    UPDATE Companies
    SET Status = 0,
        DateU = GETDATE(),
        UserU = @UserU
    WHERE IdCompany = @IdCompany
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCountry]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteCountry]
    @IdCountry INT,
    @UserU NVARCHAR(100)
AS
BEGIN
    UPDATE Countries
    SET 
        Status = 0,
        DateU = GETDATE(),
        UserU = @UserU
    WHERE IdCountry = @IdCountry
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDocumentType]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteDocumentType]
    @IdDocumentType INT,
    @UserU NVARCHAR(100)
AS
BEGIN
    UPDATE DocumentsTypes
    SET Status = 0,
        DateU = GETDATE(),
        UserU = @UserU
    WHERE IdDocumentType = @IdDocumentType
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteParameters]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteParameters]
    @IdParameters INT,
    @UserU NVARCHAR(100)
AS
BEGIN

    UPDATE Parameters
    SET
        Status = -1,
        DateU = GETDATE(),
        UserU = @UserU
    WHERE IdParameters = @IdParameters

END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteReview]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteReview]
    @Id INT,
    @UserU NVARCHAR(100)
AS
BEGIN
    UPDATE Reviews
    SET Status = 0,
        UserU = @UserU,
        DateU = GETDATE()
    WHERE IdReview = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteTrainingLicense]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteTrainingLicense]
    @Id INT,
    @UserU NVARCHAR(100)
AS
BEGIN
    UPDATE TrainingsLicenses
    SET Status = 0,
        UserU = @UserU,
        DateU = GETDATE()
    WHERE IdTrainingsLicenses = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteTransaction]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteTransaction]
    @IdTransaction INT,
    @UserU NVARCHAR(100)
AS
BEGIN
    UPDATE Transactions
    SET 
        Status = 0,
        DateU = GETDATE(),
        UserU = @UserU
    WHERE IdTransaction = @IdTransaction
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteTypeTransaction]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteTypeTransaction]
    @IdTypeTransaction INT,
    @UserU NVARCHAR(100)
AS
BEGIN
    UPDATE TypesTransactions
    SET 
        Status = 0,
        DateU = GETDATE(),
        UserU = @UserU
    WHERE IdTypeTransaction = @IdTypeTransaction
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteTypeTransactionCommissions]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteTypeTransactionCommissions]
(
    @NumberT INT
)
AS
BEGIN

    DELETE FROM TypesTransactionsCommissions
    WHERE NumberT = @NumberT

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ExistsClient]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ExistsClient]
(
    @DocumentNumber NVARCHAR(50)
)
AS
BEGIN

    IF EXISTS(
        SELECT 1
        FROM Clients
        WHERE DocumentNumber = @DocumentNumber
        AND Status = 1
    )
        SELECT 1;
    ELSE
        SELECT 0;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBeneficiarieById]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBeneficiarieById]
    @IdBeneficiarie INT
AS
BEGIN
    SELECT 
        b.*,c.FirstName + ' ' + c.LastName AS ParentClientName,co.name AS CountryName,
        b.Phone, b.Address
    FROM Beneficiaries b
    LEFT JOIN Clients c ON b.IdClient_fk = c.IdClient
    INNER JOIN Countries co ON b.Country = co.IdCountry
    WHERE b.IdBeneficiarie = @IdBeneficiarie
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBeneficiaries]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBeneficiaries]
AS
BEGIN
    SELECT 
        b.*,c.FirstName + ' ' + c.LastName AS ParentClientName,co.name AS CountryName,dt.name AS DocumentTypeName,
        b.Phone, b.Address
    FROM Beneficiaries b
    LEFT JOIN Clients c ON b.IdClient_fk = c.IdClient
    INNER JOIN Countries co ON b.Country = co.IdCountry
    INNER JOIN DocumentsTypes dt ON b.IdDocumentType = dt.IdDocumentType
    WHERE b.Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBeneficiariesByClient]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBeneficiariesByClient]
    @IdClient INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IdBeneficiarie,
        FirstName,
        LastName,
        DocumentNumber,
        Country,
        Address,
        Phone,
        IdDocumentType,
        co.name AS CountryName
    FROM Beneficiaries
    INNER JOIN Countries co ON Beneficiaries.Country = co.IdCountry
    WHERE IdClient_fk = @IdClient AND Beneficiaries.Status = 1
    ORDER BY FirstName, LastName
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClientById]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetClientById]
    @Id INT
AS
-- SELECT * FROM Clients WHERE IdClient = @Id
SELECT co.name AS CountryName,c.*
FROM Clients c
INNER JOIN Countries co ON c.Country = co.IdCountry
WHERE c.Status = 1 and c.IdClient = @Id;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClientCompanies]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetClientCompanies]
AS
BEGIN

    SET NOCOUNT ON;

    SELECT
        cc.IdClientCompany,
        cc.IdClient,
        CONCAT(c.FirstName, ' ', c.LastName) AS ClientName,
        cc.IdCompany,
        cp.Name AS CompanyName,
        cc.AccountNumber,
        cc.Status,
        cc.DateC,
        cc.UserC,
        cc.DateU,
        cc.UserU
    FROM ClientCompanies cc
        INNER JOIN Clients c
            ON c.IdClient = cc.IdClient
        INNER JOIN Companies cp
            ON cp.IdCompany = cc.IdCompany
    WHERE cc.Status = 1
    ORDER BY ClientName, CompanyName;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClients]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetClients]
AS
SELECT co.name AS CountryName,c.*
FROM Clients c
INNER JOIN Countries co ON c.Country = co.IdCountry
WHERE c.Status = 1
order by c.IdClient desc
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCommissionByAmount]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCommissionByAmount]
(
    @NumberT INT,
    @Amount DECIMAL(18,2)
)
AS
BEGIN

    SET NOCOUNT ON;

    SELECT TOP 1
        NumberT,
        MinAmount,
        MaxAmount,
        CommissionPercent
    FROM TypesTransactionsCommissions
    WHERE NumberT = @NumberT
      AND @Amount >= MinAmount
      AND @Amount <= MaxAmount
      AND Status = 1

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCommissionRangesByNumberT]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCommissionRangesByNumberT]
(
    @NumberT INT
)
AS
BEGIN

    SELECT
        IdCommission,
        NumberT,
        MinAmount,
        MaxAmount,
        CommissionPercent,
        Status
    FROM TypesTransactionsCommissions
    WHERE NumberT = @NumberT
      AND Status = 1
    ORDER BY MinAmount

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCompanies]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetCompanies]
AS
BEGIN
    SELECT 
        CO.IdCompany, 
        CO.Name,
        CO.SwiftCode,
        C.Name as Country,
        CO.IdCountry,
        CO.Phone,CO.Status,
        T.NumberT as TransactionType,
        T.Name as TransactionTypeName,
        CO.Position,
        CO.ContactPerson,
        CO.PhoneContactPerson,
        CO.StatusCompany,
        CO.StatusCompanyComment,
        CO.ServiceCode
    FROM Companies CO
    INNER JOIN Countries C ON CO.IdCountry = C.IdCountry
    INNER JOIN TypesTransactions T ON CO.TransactionType = T.NumberT
    WHERE CO.Status = 1 and t.Status = 1 and C.Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCompaniesByCountry]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCompaniesByCountry]
    @IdCountry NVARCHAR(10),
    @Search NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IdCompany,
        Name
    FROM Companies
    WHERE IdCountry = @IdCountry
      AND Status = 1
      AND (
            @Search IS NULL 
            OR Name LIKE '%' + @Search + '%'
          )
    ORDER BY Name
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCompaniesByTransactionType]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCompaniesByTransactionType]
    @TransactionType int
AS
BEGIN
    SET NOCOUNT ON;

    select IdCompany, Name,SwiftCode from companies
    where TransactionType = @TransactionType and status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCompanyById]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCompanyById]
    @IdCompany INT
AS
BEGIN
    -- SELECT * 
    -- FROM Companies 
    SELECT 
        CO.IdCompany, 
        CO.Name,
        CO.SwiftCode,
        C.Name as Country,
        CO.IdCountry,
        CO.Phone,CO.Status,
        T.NumberT as TransactionType,
        T.Name as TransactionTypeName,
        CO.Position,
        CO.ContactPerson,
        CO.PhoneContactPerson,
        co.StatusCompany,
        CO.StatusCompanyComment,
        CO.ServiceCode
    FROM Companies CO
    INNER JOIN Countries C ON CO.IdCountry = C.IdCountry
    INNER JOIN TypesTransactions T ON CO.TransactionType = T.NumberT
    WHERE CO.Status = 1 AND CO.IdCompany = @IdCompany AND T.Status = 1 AND C.Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCountries]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCountries]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM Countries WHERE Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCountryById]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCountryById]
    @IdCountry INT
AS
BEGIN
    SELECT * FROM Countries WHERE IdCountry = @IdCountry
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDocumentsTypes]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDocumentsTypes]
AS
BEGIN
    SELECT * FROM DocumentsTypes WHERE Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDocumentTypeById]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDocumentTypeById]
    @IdDocumentType INT
AS
BEGIN
    SELECT * FROM DocumentsTypes WHERE IdDocumentType = @IdDocumentType
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetNextReferenceNumber]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetNextReferenceNumber]
(
    @SenderCompany INT,
    @TransactionType INT,
    @IdClient INT = NULL
)
AS
BEGIN

    SET NOCOUNT ON;

    DECLARE @SwiftCode VARCHAR(50);
    DECLARE @ServiceCode VARCHAR(50);
    DECLARE @AccountNumber VARCHAR(100);

    DECLARE @NextSequence BIGINT;
    DECLARE @Prefix VARCHAR(5);

    SET @Prefix =
    CASE @TransactionType
        WHEN 1 THEN 'CC'
        WHEN 2 THEN 'MO'
        WHEN 3 THEN 'MT'
        WHEN 4 THEN 'PS'
        ELSE 'TX'
    END;

    --------------------------------------------------
    -- VALIDAR EMPRESA
    --------------------------------------------------
    IF @TransactionType = 4
    BEGIN

        SELECT
            @ServiceCode = ServiceCode
        FROM Companies
        WHERE IdCompany = @SenderCompany;

        IF @ServiceCode IS NULL
        BEGIN
            RAISERROR('Company not found',16,1);
            RETURN;
        END

        SELECT TOP 1
            @AccountNumber = AccountNumber
        FROM ClientCompanies
        WHERE IdClient = @IdClient
        AND IdCompany = @SenderCompany
        AND Status = 1;

        IF @AccountNumber IS NULL
        BEGIN
            RAISERROR(
                'Client does not have an account for this company',
                16,
                1
            );
            RETURN;
        END

    END
    ELSE
    BEGIN

        SELECT
            @SwiftCode = SwiftCode
        FROM Companies
        WHERE IdCompany = @SenderCompany;

        IF @SwiftCode IS NULL
        BEGIN
            RAISERROR('Company not found',16,1);
            RETURN;
        END

    END

    --------------------------------------------------
    -- CREAR REGISTRO SI NO EXISTE
    --------------------------------------------------
    IF NOT EXISTS
    (
        SELECT 1
        FROM TransactionReferenceSequences
        WHERE SenderCompany = @SenderCompany
        AND TransactionType = @TransactionType
    )
    BEGIN

        INSERT INTO TransactionReferenceSequences
        (
            SenderCompany,
            TransactionType,
            LastSequence
        )
        VALUES
        (
            @SenderCompany,
            @TransactionType,
            0
        );

    END

    --------------------------------------------------
    -- INCREMENTAR CORRELATIVO
    --------------------------------------------------
    UPDATE TransactionReferenceSequences
    SET
        LastSequence = LastSequence + 1,
        UpdatedDate = GETDATE()
    WHERE SenderCompany = @SenderCompany
    AND TransactionType = @TransactionType;

    SELECT
        @NextSequence = LastSequence
    FROM TransactionReferenceSequences
    WHERE SenderCompany = @SenderCompany
    AND TransactionType = @TransactionType;

    --------------------------------------------------
    -- PAID SERVICE
    --------------------------------------------------
    IF @TransactionType = 4
    BEGIN

        SELECT
            @Prefix +
            '-' +
            @ServiceCode + '-' +
            ISNULL(@AccountNumber,'') +
            '-' +
            RIGHT(
                '00000000' +
                CAST(@NextSequence AS VARCHAR(20)),
                8
            ) AS ReferenceNumber;

        RETURN;

    END

    --------------------------------------------------
    -- RESTO DE TRANSACCIONES
    --------------------------------------------------
    SELECT
        @Prefix +
        '-' +
        @SwiftCode +
        '-' +
        RIGHT(
            '00000000' +
            CAST(@NextSequence AS VARCHAR(20)),
            8
        ) AS ReferenceNumber;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPaidServiceCompaniesByClient]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPaidServiceCompaniesByClient]
(
    @IdClient INT
)
AS
BEGIN

    SELECT
        c.IdCompany,
        c.Name,
        c.ServiceCode,
        cc.AccountNumber,

        CASE
            WHEN cc.IdClientCompany IS NULL
            THEN 0
            ELSE 1
        END AS HasAccount

    FROM Companies c

    LEFT JOIN ClientCompanies cc
        ON cc.IdCompany = c.IdCompany
       AND cc.IdClient = @IdClient
       AND cc.Status = 1

    WHERE c.Status = 1
      AND c.TransactionType = 4

    ORDER BY c.Name;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetParameters]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetParameters]
AS
BEGIN

    SELECT p.*, tp.Name as TransactionTypeName FROM Parameters as p
    inner join TypesTransactions as tp on p.TransactionType = tp.NumberT
    WHERE p.Status <> 0
    ORDER BY p.IdParameters DESC

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetParametersById]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetParametersById]
    @IdParameters INT
AS
BEGIN

    SELECT p.*, tp.Name as TransactionTypeName FROM Parameters as p
    inner join TypesTransactions as tp on p.TransactionType = tp.NumberT
    WHERE p.IdParameters = @IdParameters and p.Status <> 0
    ORDER BY p.IdParameters DESC
    -- SELECT *
    -- FROM Parameters
    -- WHERE IdParameters = @IdParameters

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetReferencePreview]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetReferencePreview]
(
    @SenderCompany INT,
    @TransactionType INT,
    @IdClient INT = NULL
)
AS
BEGIN

    SET NOCOUNT ON;

    DECLARE @SwiftCode VARCHAR(50);
    DECLARE @ServiceCode VARCHAR(50);
    DECLARE @AccountNumber VARCHAR(100);
    DECLARE @LastSequence BIGINT = 0;
    DECLARE @Prefix VARCHAR(5);

    -- DECLARE @SenderCompany INT;
    -- DECLARE @TransactionType INT;
    -- DECLARE @IdClient INT = NULL;
    -- SET @SenderCompany = 57;
    -- SET @TransactionType = 4;
    -- SET @IdClient = 8;

    SET @Prefix =
    CASE @TransactionType
        WHEN 1 THEN 'CC'
        WHEN 2 THEN 'MO'
        WHEN 3 THEN 'MT'
        WHEN 4 THEN 'PS'
        ELSE 'TX'
    END;

    --------------------------------------------------
    -- PAID SERVICE
    --------------------------------------------------
    IF @TransactionType = 4
    BEGIN

        SELECT
            @ServiceCode = ServiceCode
        FROM Companies
        WHERE IdCompany = @SenderCompany;

        SELECT TOP 1
            @AccountNumber = AccountNumber
        FROM ClientCompanies
        WHERE IdClient = @IdClient
        AND IdCompany = @SenderCompany
        AND Status = 1;

        IF @AccountNumber IS NULL
        BEGIN
            RAISERROR(
                'The selected client does not have an account associated with this company.',
                16,
                1
            );
            RETURN;
        END


        SELECT
            @LastSequence = LastSequence
        FROM TransactionReferenceSequences
        WHERE SenderCompany = @SenderCompany
        AND TransactionType = @TransactionType;

        SELECT
            @Prefix + '-' +
            ISNULL(@ServiceCode,'') + '-'+
            ISNULL(@AccountNumber,'') +
            '-' +
            RIGHT(
                '00000000' +
                CAST(ISNULL(@LastSequence,0) + 1 AS VARCHAR(20)),
                8
            ) AS ReferenceNumber;

        RETURN;
    END

    --------------------------------------------------
    -- RESTO DE TRANSACCIONES
    --------------------------------------------------
    SELECT
        @SwiftCode = SwiftCode
    FROM Companies
    WHERE IdCompany = @SenderCompany;

    SELECT
        @LastSequence = LastSequence
    FROM TransactionReferenceSequences
    WHERE SenderCompany = @SenderCompany
    AND TransactionType = @TransactionType;

    SELECT
        @Prefix + '-' +
        ISNULL(@SwiftCode,'') +
        '-' +
        RIGHT(
            '00000000' +
            CAST(ISNULL(@LastSequence,0) + 1 AS VARCHAR(20)),
            8
        ) AS ReferenceNumber;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetReviewById]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetReviewById]
    @Id INT
AS
SELECT * FROM Reviews WHERE IdReview = @Id
GO
/****** Object:  StoredProcedure [dbo].[sp_GetReviews]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetReviews]
AS
SELECT * FROM Reviews WHERE Status = 1
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTrainingLicenseById]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTrainingLicenseById]
    @Id INT
AS
SELECT * FROM TrainingsLicenses WHERE IdTrainingsLicenses = @Id
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTrainingLicenses]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTrainingLicenses]
AS
SELECT * FROM TrainingsLicenses WHERE Status = 1
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTransactionAttachments]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTransactionAttachments]
(
    @IdTransaction INT
)
AS
BEGIN

    SET NOCOUNT ON;

    SELECT
        Id,
        IdTransaction,
        FileName,
        OriginalFileName,
        FileExtension,
        ContentType,
        FilePath,
        AttachmentType,
        FileSize,
        CreatedAt,
        CreatedBy
    FROM dbo.TransactionAttachments
    WHERE IdTransaction = @IdTransaction
    ORDER BY CreatedAt ASC;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTransactionById]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetTransactionById]
(
    @IdTransaction INT
)
AS
BEGIN

    SET NOCOUNT ON;

    -- SELECT 

    --     t.IdTransaction,
    --     t.ReferenceNumber,

    --     t.TransactionType,
    --     tt.Name AS TransactionTypeName,

    --     t.Amount,
    --     tt.Commission,
    --     t.TotalAmount,

    --     t.TransactionDate,
    --     t.Status,

    --     -- SENDER
    --     t.SenderName,
    --     t.SenderDocumentNumber,
    --     t.SenderPhone,
    --     t.SenderAddress,
    --     t.SenderCountry,
    --     sc.Name AS SenderCountryName,

    --     -- RECEIVER
    --     t.ReceiverName,
    --     t.ReceiverDocumentNumber,
    --     t.ReceiverPhone,
    --     t.ReceiverAddress,
    --     t.ReceiverCountry,
    --     rc.Name AS ReceiverCountryName,

    --     -- AML
    --     t.JustifyDetails,
    --     t.TransactionFile,

    --     t.UserC

    -- FROM Transactions t

    -- LEFT JOIN Countries sc
    --     ON t.SenderCountry = sc.IdCountry

    -- LEFT JOIN Countries rc
    --     ON t.ReceiverCountry = rc.IdCountry

    -- LEFT JOIN TypesTransactions tt
    --     ON t.TransactionType = tt.IdTypeTransaction

    -- WHERE t.IdTransaction =  @IdTransaction
SELECT 

    t.IdTransaction,
    t.ReferenceNumber,

    t.TransactionType,
    tt.Name AS TransactionTypeName,

    t.Amount,
    tt.Commission,
    t.TotalAmount,

    t.TransactionDate,
    t.Status,

    -- SENDER
    t.SenderName,
    t.SenderDocumentNumber,
    t.SenderPhone,
    t.SenderAddress,
    t.SenderCountry,
    sc.Name AS SenderCountryName,

    t.SenderCompany,
    scomp.Name AS SenderCompanyName,

    -- RECEIVER
    t.ReceiverName,
    t.ReceiverDocumentNumber,
    t.ReceiverPhone,
    t.ReceiverAddress,
    t.ReceiverCountry,
    rc.Name AS ReceiverCountryName,

    t.ReceiverCompany,
    rcomp.Name AS ReceiverCompanyName,

    -- AML
    t.JustifyDetails,
    t.TransactionFile,
    t.TransactionStatus,
    t.UserC,
    t.CalculationMode,
    t.FixedCommission,
    t.calculationMode

FROM Transactions t

LEFT JOIN Countries sc
    ON t.SenderCountry = sc.IdCountry

LEFT JOIN Countries rc
    ON t.ReceiverCountry = rc.IdCountry

LEFT JOIN Companies scomp
    ON t.SenderCompany = scomp.IdCompany

LEFT JOIN Companies rcomp
    ON t.ReceiverCompany = rcomp.IdCompany

LEFT JOIN TypesTransactions tt
    ON t.TransactionType = tt.IdTypeTransaction

WHERE t.IdTransaction = @IdTransaction
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTransactions]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SET ANSI_NULLS ON
-- GO
-- SET QUOTED_IDENTIFIER ON
-- GO

-- ALTER PROCEDURE [dbo].[sp_GetTransactions]
-- AS
-- BEGIN

--     SET NOCOUNT ON;

--     SELECT 
--         t.IdTransaction,

--         t.ReferenceNumber,

--         t.SenderName,

--         t.SenderDocumentNumber,

--         t.ReceiverName,

--         t.ReceiverDocumentNumber,

--         t.ReceiverCountry,

--         co.Name AS ReceiverCountryName,

--         t.Amount,

--         t.Status

--     FROM Transactions t

--     LEFT JOIN Countries co
--         ON t.ReceiverCountry = co.IdCountry

--     WHERE t.Status = 1

--     ORDER BY t.IdTransaction DESC

-- END
-- GO
CREATE PROCEDURE [dbo].[sp_GetTransactions]
AS
BEGIN

    SET NOCOUNT ON;

    -- SELECT 
    --     t.IdTransaction,
    --     t.ReferenceNumber,

    --     t.TransactionType,
    --     tt.Name AS TransactionTypeName,   -- 🔥 NUEVO

    --     t.SenderName,
    --     t.SenderDocumentNumber,

    --     -- 🔵 Receiver puede ser NULL (SimpleTx)
    --     ISNULL(t.ReceiverName, '') AS ReceiverName,
    --     ISNULL(t.ReceiverDocumentNumber, '') AS ReceiverDocumentNumber,

    --     t.ReceiverCountry,
    --     co.Name AS ReceiverCountryName,

    --     t.Amount,
    --     t.TransactionFile,
    --     t.Status

    -- FROM Transactions t

    -- -- 🔥 traer nombre del tipo de transacción
    -- LEFT JOIN TypesTransactions tt
    --     ON t.TransactionType = tt.IdTypeTransaction

    -- -- 🔥 receiver country opcional
    -- LEFT JOIN Countries co
    --     ON t.ReceiverCountry = co.IdCountry

    -- WHERE t.Status = 1

    -- ORDER BY t.IdTransaction DESC
    SELECT 
    t.IdTransaction,
    t.ReferenceNumber,

    t.TransactionType,
    tt.Name AS TransactionTypeName,

    -- 🔵 SENDER
    t.SenderName,
    t.SenderDocumentNumber,

    t.SenderCompany,
    scomp.Name AS SenderCompanyName,

    -- 🔵 RECEIVER (puede ser NULL)
    ISNULL(t.ReceiverName, '') AS ReceiverName,
    ISNULL(t.ReceiverDocumentNumber, '') AS ReceiverDocumentNumber,

    t.ReceiverCompany,
    ISNULL(rcomp.Name, '') AS ReceiverCompanyName,

    t.ReceiverCountry,
    co.Name AS ReceiverCountryName,

    -- 🔵 FINANCIAL
    t.Amount,

    -- 🔵 AML
    t.TransactionFile,
    t.TransactionStatus,
    t.CalculationMode,

    t.Status

FROM Transactions t

-- 🔥 tipo transacción
LEFT JOIN TypesTransactions tt
    ON t.TransactionType = tt.NumberT
    --SE CAMBIA POR QUE SE VA A USAR EL NUMERO T POR QUE ASI SE EVITA EL ERROR DEL ID
    --ON t.TransactionType = tt.IdTypeTransaction

-- 🔥 sender company
LEFT JOIN Companies scomp
    ON t.SenderCompany = scomp.IdCompany

-- 🔥 receiver company
LEFT JOIN Companies rcomp
    ON t.ReceiverCompany = rcomp.IdCompany

-- 🔥 receiver country
LEFT JOIN Countries co
    ON t.ReceiverCountry = co.IdCountry

WHERE t.Status = 1

ORDER BY t.IdTransaction DESC

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTransactionsTypes]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTransactionsTypes]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IdTypeTransaction,
        Name,
        Commission,
        Numbert
    FROM TypesTransactions
    WHERE Status = 1
    ORDER BY Name
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTypesTransactions]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTypesTransactions]
AS
BEGIN
    SELECT * 
    FROM TypesTransactions
    WHERE Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTypeTransactionById]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTypeTransactionById]
    @IdTypeTransaction INT
AS
BEGIN
    SELECT * 
    FROM TypesTransactions
    WHERE IdTypeTransaction = @IdTypeTransaction
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTypeTransactionByNumber]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTypeTransactionByNumber]
    @IdTypeTransaction INT
AS
BEGIN
    SELECT * 
    FROM TypesTransactions
    WHERE NumberT = @IdTypeTransaction and status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTypeTransactionCommissions]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTypeTransactionCommissions]
(
    @NumberT INT
)
AS
BEGIN

    SELECT
        NumberT,
        MinAmount,
        MaxAmount,
        CommissionPercent
    FROM TypesTransactionsCommissions
    WHERE NumberT = @NumberT
    AND Status = 1

END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveReferenceSequence]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SaveReferenceSequence]
(
    @SenderCompany INT,
    @TransactionType INT,
    @LastSequence BIGINT
)
AS
BEGIN

    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM TransactionReferenceSequences
        WHERE SenderCompany = @SenderCompany
        AND TransactionType = @TransactionType
    )
    BEGIN

        UPDATE TransactionReferenceSequences
        SET LastSequence = @LastSequence
        WHERE SenderCompany = @SenderCompany
        AND TransactionType = @TransactionType;

    END
    ELSE
    BEGIN

        INSERT INTO TransactionReferenceSequences
        (
            SenderCompany,
            TransactionType,
            LastSequence
        )
        VALUES
        (
            @SenderCompany,
            @TransactionType,
            @LastSequence
        );

    END

END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchClients]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SearchClients]
    @Term NVARCHAR(100)
AS
BEGIN
    SELECT TOP 20 *
    FROM Clients
    WHERE Status = 1
      AND (
            FirstName LIKE '%' + @Term + '%'
         OR LastName LIKE '%' + @Term + '%'
         OR DocumentNumber LIKE '%' + @Term + '%'
          )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchCompanies]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SearchCompanies]
    @Term NVARCHAR(100)
AS
BEGIN
    SELECT TOP 20 *
    FROM Companies
    WHERE Status = 1 AND ( Name LIKE '%' + @Term + '%' OR SwiftCode LIKE '%' + @Term + '%')
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Transactions_ChangeStatus]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Transactions_ChangeStatus]
(
    @IdTransaction INT,
    @Status VARCHAR(50),
    @TransactionsStatusComment NVARCHAR(200)
)
AS
BEGIN

    SET NOCOUNT ON;

    UPDATE Transactions
    SET
        TransactionStatus = @Status,
        TransactionsStatusComment = @TransactionsStatusComment,
        DateU = GETDATE(),
        UserU = 'admin'
    WHERE IdTransaction = @IdTransaction;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateBeneficiarie]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateBeneficiarie]
    @IdBeneficiarie INT,
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @IdDocumentType NVARCHAR(10),
    @DocumentNumber NVARCHAR(50),
    @Country NVARCHAR(100),
    @address NVARCHAR(200),
    @Phone NVARCHAR(20),
    @IdClient_fk INT,
    @UserU NVARCHAR(100)
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM Beneficiaries
        WHERE DocumentNumber = @DocumentNumber
        AND IdBeneficiarie <> @IdBeneficiarie
        AND Status = 1
    )
    BEGIN
        RAISERROR('Beneficiarie already exists',16,1)
        RETURN
    END

    UPDATE Beneficiaries
    SET 
        FirstName = @FirstName,
        LastName = @LastName,
        IdDocumentType = @IdDocumentType,
        DocumentNumber = @DocumentNumber,
        Country = @Country,
        Address = @Address,
        Phone = @Phone,
        IdClient_fk = @IdClient_fk,
        DateU = GETDATE(),
        UserU = @UserU
    WHERE IdBeneficiarie = @IdBeneficiarie
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateClient]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateClient]
    @Id INT,
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @IdDocumentType NVARCHAR(50),
    @DocumentNumber NVARCHAR(50),
    @Address NVARCHAR(200),
    @ExpirationDate DATE,
    @Phone NVARCHAR(20),
    @Country NVARCHAR(100),
    @Picture NVARCHAR(300),
    @IssueDate DATEtime2,
    @UserU NVARCHAR(100)
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM Clients
        WHERE DocumentNumber = @DocumentNumber
        AND Status = 1
        AND IdClient <> @Id
    )
    BEGIN
        RAISERROR('Client with this document already exists',16,1);
        RETURN;
    END

    UPDATE Clients
    SET 
        FirstName = @FirstName,
        LastName = @LastName,
        IdDocumentType = @IdDocumentType,
        DocumentNumber = @DocumentNumber,
        Address = @Address,
        ExpirationDate = @ExpirationDate,
        Phone = @Phone,
        Country = @Country,
        IssueDate = @IssueDate,
        UserU = @UserU,
        DateU = GETDATE(),
        Picture =
            CASE 
                WHEN @Picture IS NULL OR @Picture = ''
                THEN Picture
                ELSE @Picture
            END
    WHERE IdClient = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCompany]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateCompany]
    @IdCompany INT,
    @Name NVARCHAR(150),
    @SwiftCode NVARCHAR(20),
    @Country NVARCHAR(100),
    @IdCountry NVARCHAR(10),
    @TransactionType int,
    @Phone NVARCHAR(20),
    @ContactPerson NVARCHAR(50),
    @PhoneContactPerson NVARCHAR(50),
    @Position NVARCHAR(50),
    @StatusCompany NVARCHAR(50),
    @StatusCompanyComment NVARCHAR(255),
    @UserU NVARCHAR(100),
    @ServiceCode VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Companies WHERE IdCompany = @IdCompany)
    BEGIN
        RAISERROR('Company not found', 16, 1);
        RETURN;
    END
    IF EXISTS (
        SELECT 1 
        FROM Companies 
        WHERE SwiftCode = @SwiftCode 
          AND IdCompany <> @IdCompany
          AND Status = 1
    )
    BEGIN
        RAISERROR('Company with this SwiftCode already exists', 16, 1);
        RETURN;
    END
    UPDATE Companies
    SET 
        Name = @Name,
        SwiftCode = @SwiftCode,
        Country = @Country,
        IdCountry = @IdCountry,
        Phone = @Phone,
        TransactionType = @TransactionType,
        ContactPerson = @ContactPerson,
        Position = @Position,
        PhoneContactPerson = @PhoneContactPerson,
        StatusCompany = @StatusCompany,
        StatusCompanyComment = @StatusCompanyComment,
        UserU = @UserU,
        DateU = GETDATE(),
        ServiceCode = @ServiceCode
    WHERE IdCompany = @IdCompany
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCountry]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateCountry]
    @IdCountry INT,
    @Name NVARCHAR(150),
    @Code NVARCHAR(10),
    @Currency NVARCHAR(10),
    @UserU NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM Countries 
        WHERE Code = @Code 
        AND Status = 1
        AND IdCountry <> @IdCountry
    )
    BEGIN
        RAISERROR('Country with this Code already exists',16,1);
        RETURN;
    END

    UPDATE Countries
    SET 
        Name = @Name,
        Code = @Code,
        Currency = @Currency,
        UserU = @UserU,
        DateU = GETDATE()
    WHERE IdCountry = @IdCountry
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDocumentType]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateDocumentType]
    @IdDocumentType INT,
    @Name NVARCHAR(100),
    @Description NVARCHAR(250),
    @MaskPattern NVARCHAR(100),
    @UserU NVARCHAR(100)
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM DocumentsTypes 
        WHERE Name = @Name 
        AND IdDocumentType <> @IdDocumentType
        AND Status = 1
    )
    BEGIN
        RAISERROR('Document Type already exists',16,1)
        RETURN
    END

    UPDATE DocumentsTypes
    SET Name = @Name,
        Description = @Description,
        MaskPattern = @MaskPattern,
        DateU = GETDATE(),
        UserU = @UserU
    WHERE IdDocumentType = @IdDocumentType
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateParameters]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateParameters]
    @IdParameters INT,
    @LastMonth BIT,
    @CountDays INT,
    @MaxTransactions int,
    @MaxAmount DECIMAL(18,2),
    @Transactiontype INT,
    @Status INT,
    @UserU NVARCHAR(100)
AS
BEGIN

    UPDATE Parameters
    SET
        LastMonth = @LastMonth,
        CountDays = @CountDays,
        MaxTransactions = @MaxTransactions,
        MaxAmount = @MaxAmount,
        Transactiontype = @Transactiontype,
        Status = @Status,
        DateU = GETDATE(),
        UserU = @UserU
    WHERE IdParameters = @IdParameters

END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateReview]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateReview]
    @Id INT,
    @Name NVARCHAR(150),
    @File NVARCHAR(300),
    @Description NVARCHAR(500),
    @UserU NVARCHAR(100)
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM Reviews 
        WHERE Name = @Name 
        AND Status = 1 
        AND IdReview <> @Id
    )
    BEGIN
        RAISERROR('Review already exists',16,1);
        RETURN;
    END

    UPDATE Reviews
    SET 
        Name = @Name,
        Description = @Description,
        UserU = @UserU,
        DateU = GETDATE(),
        ReviewFile = 
            CASE 
                WHEN @File IS NULL OR @File = '' 
                THEN ReviewFile 
                ELSE @File 
            END
    WHERE IdReview = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTrainingLicense]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateTrainingLicense]
    @Id INT,
    @Name NVARCHAR(150),
    @File NVARCHAR(300),
    @Description NVARCHAR(500),
    @UserU NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM TrainingsLicenses 
        WHERE Name = @Name AND Status = 1 AND IdTrainingsLicenses <> @Id
    )
    BEGIN
        RAISERROR('Training already exists',16,1);
        RETURN;
    END

    UPDATE TrainingsLicenses
    SET 
        Name = @Name,
        TrainingsLicensesFile = @File,
        Description = @Description,
        UserU = @UserU,
        DateU = GETDATE()
    WHERE IdTrainingsLicenses = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTransaction]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateTransaction]
(
    @IdTransaction INT,
    @Amount DECIMAL(12,2),
    @UserU NVARCHAR(100)
)
AS
BEGIN
    UPDATE Transactions
    SET 
        Amount = @Amount,
        DateU = GETDATE(),
        UserU = @UserU
    WHERE IdTransaction = @IdTransaction
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTypeTransaction]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateTypeTransaction]
    @IdTypeTransaction INT,
    @Name NVARCHAR(150),
    @Commission DECIMAL(10,2),
    @Description NVARCHAR(250),
    @NumberT INT,
    @UserU NVARCHAR(100)
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM TypesTransactions
        WHERE Name = @Name
        AND IdTypeTransaction <> @IdTypeTransaction
        AND Status = 1
    )
    BEGIN
        RAISERROR('Type Transaction already exists',16,1)
        RETURN
    END

    UPDATE TypesTransactions
    SET 
        Name = @Name,
        Commission = @Commission,
        Description = @Description,
        NumberT = @NumberT,
        DateU = GETDATE(),
        UserU = @UserU
    WHERE IdTypeTransaction = @IdTypeTransaction
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidateBeneficiaryByClient]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ValidateBeneficiaryByClient]
(
    @IdBeneficiarie INT,
    @IdClient INT
)
AS
BEGIN

    SET NOCOUNT ON;

    SELECT
        COUNT(*) AS ExistsRecord
    FROM Beneficiaries
    WHERE IdBeneficiarie = @IdBeneficiarie
    AND IdClient_fk = @IdClient
    AND Status = 1;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidateClientTransactions]    Script Date: 27/6/2026 15:52:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ValidateClientTransactions]
(
    @IdClient VARCHAR(50),
    @TransactionType INT
)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @LastMonth INT;
    DECLARE @CountDays INT;
    DECLARE @MaxAmount DECIMAL(18,2);
    --DECLARE @MaxTransactions DECIMAL(18,2);
    DECLARE @MaxTransactions INT;
    -- GET AML CONFIG BY TRANSACTION TYPE
    SELECT TOP 1
        @LastMonth = LastMonth,
        @CountDays = CountDays,
        @MaxAmount = MaxAmount,
        @MaxTransactions = MaxTransactions
    FROM Parameters
    WHERE Status = 1
    AND TransactionType = @TransactionType;

    IF @MaxAmount IS NULL
    BEGIN
        SELECT
            0 AS TotalTransactions,
            0 AS TotalAmount,
            999999999 AS MaxAmount,
            999999999 AS MaxTransactions;
        RETURN;
    END
    DECLARE @StartDate DATE;
    -- DATE RANGE
    IF @LastMonth = 1
    BEGIN
        SET @StartDate =DATEFROMPARTS(YEAR(GETDATE()),MONTH(GETDATE()),1);
    END
    ELSE
    BEGIN
        SET @StartDate = DATEADD(DAY,-@CountDays,GETDATE());
    END
    -- AML VALIDATION
    SELECT
        ISNULL(COUNT(*), 0)
            AS TotalTransactions,

        CAST(
            ISNULL(SUM(Amount), 0)
            AS DECIMAL(18,2)
        ) AS TotalAmount,

        @MaxAmount
            AS MaxAmount,

        @MaxTransactions
            AS MaxTransactions

    FROM Transactions

    WHERE IdClient_fk = @IdClient
    AND TransactionType = @TransactionType
    AND TransactionDate >= @StartDate
    AND Status = 1;

END
GO
