USE [master]
GO
/****** Object:  Database [XelajuApp]    Script Date: 25/4/2026 09:34:48 ******/
CREATE DATABASE [XelajuApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XelajuApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\XelajuApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'XelajuApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\XelajuApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XelajuApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XelajuApp]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[IdClient] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[IdDocumentType] [nvarchar](50) NOT NULL,
	[DocumentNumber] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[ExpirationDate] [date] NULL,
	[Phone] [nvarchar](20) NULL,
	[Country] [nvarchar](100) NOT NULL,
	[Picture] [nvarchar](300) NULL,
	[Status] [int] NOT NULL,
	[DateC] [datetime] NOT NULL,
	[UserC] [nvarchar](100) NOT NULL,
	[DateU] [datetime] NULL,
	[UserU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[IdCompany] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[SwiftCode] [nvarchar](20) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[IdCountry] [nvarchar](10) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Status] [int] NOT NULL,
	[DateC] [datetime] NOT NULL,
	[UserC] [nvarchar](100) NOT NULL,
	[DateU] [datetime] NULL,
	[UserU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompany] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[IdCountry] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Currency] [nvarchar](10) NOT NULL,
	[Status] [int] NOT NULL,
	[DateC] [datetime] NOT NULL,
	[UserC] [nvarchar](100) NOT NULL,
	[DateU] [datetime] NULL,
	[UserU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCountry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentsTypes]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentsTypes](
	[IdDocumentType] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Status] [int] NULL,
	[DateC] [datetime] NULL,
	[UserC] [nvarchar](100) NULL,
	[DateU] [datetime] NULL,
	[UserU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDocumentType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[IdReview] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[ReviewFile] [nvarchar](300) NULL,
	[Description] [nvarchar](500) NULL,
	[Status] [int] NOT NULL,
	[DateC] [datetime] NOT NULL,
	[UserC] [nvarchar](100) NOT NULL,
	[DateU] [datetime] NULL,
	[UserU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReview] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingsLicenses]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingsLicenses](
	[IdTrainingsLicenses] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[TrainingsLicensesFile] [nvarchar](300) NULL,
	[Description] [nvarchar](500) NULL,
	[Status] [int] NOT NULL,
	[DateC] [datetime] NOT NULL,
	[UserC] [nvarchar](100) NOT NULL,
	[DateU] [datetime] NULL,
	[UserU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTrainingsLicenses] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Client_Document]    Script Date: 25/4/2026 09:34:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Client_Document] ON [dbo].[Clients]
(
	[DocumentNumber] ASC
)
WHERE ([Status]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Company_SwiftCode]    Script Date: 25/4/2026 09:34:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Company_SwiftCode] ON [dbo].[Companies]
(
	[SwiftCode] ASC
)
WHERE ([Status]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Country_Code]    Script Date: 25/4/2026 09:34:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Country_Code] ON [dbo].[Countries]
(
	[Code] ASC
)
WHERE ([Status]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Reviews_Name]    Script Date: 25/4/2026 09:34:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Reviews_Name] ON [dbo].[Reviews]
(
	[Name] ASC
)
WHERE ([Status]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_TrainingsLicenses_Name]    Script Date: 25/4/2026 09:34:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TrainingsLicenses_Name] ON [dbo].[TrainingsLicenses]
(
	[Name] ASC
)
WHERE ([Status]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT (getdate()) FOR [DateC]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT (getdate()) FOR [DateC]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (getdate()) FOR [DateC]
GO
ALTER TABLE [dbo].[DocumentsTypes] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[DocumentsTypes] ADD  DEFAULT (getdate()) FOR [DateC]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [DateC]
GO
ALTER TABLE [dbo].[TrainingsLicenses] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[TrainingsLicenses] ADD  DEFAULT (getdate()) FOR [DateC]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateClient]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateClient]
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @IdDocumentType NVARCHAR(50),
    @DocumentNumber NVARCHAR(50),
    @Address NVARCHAR(200),
    @ExpirationDate DATE,
    @Phone NVARCHAR(20),
    @Country NVARCHAR(100),
    @Picture NVARCHAR(300),
    @UserC NVARCHAR(100)
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM Clients
        WHERE DocumentNumber = @DocumentNumber
        AND Status = 1
    )
    BEGIN
        RAISERROR('Client with this document already exists',16,1);
        RETURN;
    END

    INSERT INTO Clients (
        FirstName, LastName, IdDocumentType, DocumentNumber,
        Address, ExpirationDate, Phone, Country, Picture, UserC
    )
    VALUES (
        @FirstName, @LastName, @IdDocumentType, @DocumentNumber,
        @Address, @ExpirationDate, @Phone, @Country, @Picture, @UserC
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateCompany]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateCompany]
    @Name NVARCHAR(150),
    @SwiftCode NVARCHAR(20),
    @Country NVARCHAR(100),
    @IdCountry NVARCHAR(10),
    @Phone NVARCHAR(20),
    @UserC NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (
        SELECT 1 
        FROM Companies 
        WHERE SwiftCode = @SwiftCode 
        AND Status = 1
    )
    BEGIN
        RAISERROR('Company with this SwiftCode already exists', 16, 1);
        RETURN;
    END
    INSERT INTO Companies (Name, SwiftCode, Country, IdCountry, Phone, UserC)
    VALUES (@Name, @SwiftCode, @Country, @IdCountry, @Phone, @UserC);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateCountry]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateCountry]
    @Name NVARCHAR(150),
    @Code NVARCHAR(10),
    @Currency NVARCHAR(10),
    @UserC NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM Countries 
        WHERE Code = @Code AND Status = 1
    )
    BEGIN
        RAISERROR('Country with this Code already exists',16,1);
        RETURN;
    END

    INSERT INTO Countries (Name, Code, Currency, UserC)
    VALUES (@Name, @Code, @Currency, @UserC);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateDocumentType]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateDocumentType]
    @Name NVARCHAR(100),
    @Description NVARCHAR(250),
    @UserC NVARCHAR(100)
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM DocumentsTypes 
        WHERE Name = @Name AND Status = 1
    )
    BEGIN
        RAISERROR('Document Type already exists',16,1)
        RETURN
    END

    INSERT INTO DocumentsTypes (Name, Description, UserC)
    VALUES (@Name, @Description, @UserC)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateReview]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateReview]
    @Name NVARCHAR(150),
    @File NVARCHAR(300),
    @Description NVARCHAR(500),
    @UserC NVARCHAR(100)
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM Reviews 
        WHERE Name = @Name AND Status = 1
    )
    BEGIN
        RAISERROR('Review already exists',16,1);
        RETURN;
    END

    INSERT INTO Reviews (Name, ReviewFile, Description, UserC)
    VALUES (@Name, @File, @Description, @UserC);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTrainingLicense]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateTrainingLicense]
    @Name NVARCHAR(150),
    @File NVARCHAR(300),
    @Description NVARCHAR(500),
    @UserC NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM TrainingsLicenses 
        WHERE Name = @Name AND Status = 1
    )
    BEGIN
        RAISERROR('Training already exists',16,1);
        RETURN;
    END

    INSERT INTO TrainingsLicenses (Name, TrainingsLicensesFile, Description, UserC)
    VALUES (@Name, @File, @Description, @UserC);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteClient]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteClient]
    @Id INT,
    @UserU NVARCHAR(100)
AS
BEGIN
    UPDATE Clients
    SET Status = 0,
        UserU = @UserU,
        DateU = GETDATE()
    WHERE IdClient = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCompany]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteCompany]
    @IdCompany INT,
    @UserU NVARCHAR(100)
AS
BEGIN
    UPDATE Companies
    SET Status = 0,
        DateU = GETDATE(),
        UserU = @UserU
    WHERE IdCompany = @IdCompany
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCountry]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteCountry]
    @IdCountry INT,
    @UserU NVARCHAR(100)
AS
BEGIN
    UPDATE Countries
    SET 
        Status = 0,
        DateU = GETDATE(),
        UserU = @UserU
    WHERE IdCountry = @IdCountry
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDocumentType]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteDocumentType]
    @IdDocumentType INT,
    @UserU NVARCHAR(100)
AS
BEGIN
    UPDATE DocumentsTypes
    SET Status = 0,
        DateU = GETDATE(),
        UserU = @UserU
    WHERE IdDocumentType = @IdDocumentType
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteReview]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteReview]
    @Id INT,
    @UserU NVARCHAR(100)
AS
BEGIN
    UPDATE Reviews
    SET Status = 0,
        UserU = @UserU,
        DateU = GETDATE()
    WHERE IdReview = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteTrainingLicense]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteTrainingLicense]
    @Id INT,
    @UserU NVARCHAR(100)
AS
BEGIN
    UPDATE TrainingsLicenses
    SET Status = 0,
        UserU = @UserU,
        DateU = GETDATE()
    WHERE IdTrainingsLicenses = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClientById]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetClientById]
    @Id INT
AS
-- SELECT * FROM Clients WHERE IdClient = @Id
SELECT co.name AS CountryName,c.*
FROM Clients c
INNER JOIN Countries co ON c.Country = co.IdCountry
WHERE c.Status = 1 and c.IdClient = @Id;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClients]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetClients]
AS
SELECT co.name AS CountryName,c.*
FROM Clients c
INNER JOIN Countries co ON c.Country = co.IdCountry
WHERE c.Status = 1;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCompanies]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetCompanies]
AS
BEGIN
    SELECT 
        CO.IdCompany, 
        CO.Name,
        CO.SwiftCode,
        C.Name as Country,
        CO.IdCountry,
        CO.Phone,CO.Status
    FROM Companies CO
    INNER JOIN Countries C ON CO.IdCountry = C.IdCountry
    WHERE CO.Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCompanyById]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCompanyById]
    @IdCompany INT
AS
BEGIN
    SELECT * 
    FROM Companies 
    WHERE IdCompany = @IdCompany
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCountries]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCountries]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM Countries WHERE Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCountryById]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCountryById]
    @IdCountry INT
AS
BEGIN
    SELECT * FROM Countries WHERE IdCountry = @IdCountry
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDocumentsTypes]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDocumentsTypes]
AS
BEGIN
    SELECT * FROM DocumentsTypes WHERE Status = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDocumentTypeById]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDocumentTypeById]
    @IdDocumentType INT
AS
BEGIN
    SELECT * FROM DocumentsTypes WHERE IdDocumentType = @IdDocumentType
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetReviewById]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetReviewById]
    @Id INT
AS
SELECT * FROM Reviews WHERE IdReview = @Id
GO
/****** Object:  StoredProcedure [dbo].[sp_GetReviews]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetReviews]
AS
SELECT * FROM Reviews WHERE Status = 1
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTrainingLicenseById]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTrainingLicenseById]
    @Id INT
AS
SELECT * FROM TrainingsLicenses WHERE IdTrainingsLicenses = @Id
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTrainingLicenses]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTrainingLicenses]
AS
SELECT * FROM TrainingsLicenses WHERE Status = 1
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateClient]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateClient]
    @Id INT,
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @IdDocumentType NVARCHAR(50),
    @DocumentNumber NVARCHAR(50),
    @Address NVARCHAR(200),
    @ExpirationDate DATE,
    @Phone NVARCHAR(20),
    @Country NVARCHAR(100),
    @Picture NVARCHAR(300),
    @UserU NVARCHAR(100)
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM Clients
        WHERE DocumentNumber = @DocumentNumber
        AND Status = 1
        AND IdClient <> @Id
    )
    BEGIN
        RAISERROR('Client with this document already exists',16,1);
        RETURN;
    END

    UPDATE Clients
    SET 
        FirstName = @FirstName,
        LastName = @LastName,
        IdDocumentType = @IdDocumentType,
        DocumentNumber = @DocumentNumber,
        Address = @Address,
        ExpirationDate = @ExpirationDate,
        Phone = @Phone,
        Country = @Country,
        UserU = @UserU,
        DateU = GETDATE(),
        Picture =
            CASE 
                WHEN @Picture IS NULL OR @Picture = ''
                THEN Picture
                ELSE @Picture
            END
    WHERE IdClient = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCompany]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateCompany]
    @IdCompany INT,
    @Name NVARCHAR(150),
    @SwiftCode NVARCHAR(20),
    @Country NVARCHAR(100),
    @IdCountry NVARCHAR(10),
    @Phone NVARCHAR(20),
    @UserU NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Companies WHERE IdCompany = @IdCompany)
    BEGIN
        RAISERROR('Company not found', 16, 1);
        RETURN;
    END
    IF EXISTS (
        SELECT 1 
        FROM Companies 
        WHERE SwiftCode = @SwiftCode 
          AND IdCompany <> @IdCompany
          AND Status = 1
    )
    BEGIN
        RAISERROR('Company with this SwiftCode already exists', 16, 1);
        RETURN;
    END
    UPDATE Companies
    SET 
        Name = @Name,
        SwiftCode = @SwiftCode,
        Country = @Country,
        IdCountry = @IdCountry,
        Phone = @Phone,
        UserU = @UserU,
        DateU = GETDATE()
    WHERE IdCompany = @IdCompany
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCountry]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateCountry]
    @IdCountry INT,
    @Name NVARCHAR(150),
    @Code NVARCHAR(10),
    @Currency NVARCHAR(10),
    @UserU NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM Countries 
        WHERE Code = @Code 
        AND Status = 1
        AND IdCountry <> @IdCountry
    )
    BEGIN
        RAISERROR('Country with this Code already exists',16,1);
        RETURN;
    END

    UPDATE Countries
    SET 
        Name = @Name,
        Code = @Code,
        Currency = @Currency,
        UserU = @UserU,
        DateU = GETDATE()
    WHERE IdCountry = @IdCountry
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDocumentType]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateDocumentType]
    @IdDocumentType INT,
    @Name NVARCHAR(100),
    @Description NVARCHAR(250),
    @UserU NVARCHAR(100)
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM DocumentsTypes 
        WHERE Name = @Name 
        AND IdDocumentType <> @IdDocumentType
        AND Status = 1
    )
    BEGIN
        RAISERROR('Document Type already exists',16,1)
        RETURN
    END

    UPDATE DocumentsTypes
    SET Name = @Name,
        Description = @Description,
        DateU = GETDATE(),
        UserU = @UserU
    WHERE IdDocumentType = @IdDocumentType
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateReview]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateReview]
    @Id INT,
    @Name NVARCHAR(150),
    @File NVARCHAR(300),
    @Description NVARCHAR(500),
    @UserU NVARCHAR(100)
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM Reviews 
        WHERE Name = @Name 
        AND Status = 1 
        AND IdReview <> @Id
    )
    BEGIN
        RAISERROR('Review already exists',16,1);
        RETURN;
    END

    UPDATE Reviews
    SET 
        Name = @Name,
        Description = @Description,
        UserU = @UserU,
        DateU = GETDATE(),
        ReviewFile = 
            CASE 
                WHEN @File IS NULL OR @File = '' 
                THEN ReviewFile 
                ELSE @File 
            END
    WHERE IdReview = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTrainingLicense]    Script Date: 25/4/2026 09:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateTrainingLicense]
    @Id INT,
    @Name NVARCHAR(150),
    @File NVARCHAR(300),
    @Description NVARCHAR(500),
    @UserU NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM TrainingsLicenses 
        WHERE Name = @Name AND Status = 1 AND IdTrainingsLicenses <> @Id
    )
    BEGIN
        RAISERROR('Training already exists',16,1);
        RETURN;
    END

    UPDATE TrainingsLicenses
    SET 
        Name = @Name,
        TrainingsLicensesFile = @File,
        Description = @Description,
        UserU = @UserU,
        DateU = GETDATE()
    WHERE IdTrainingsLicenses = @Id
END
GO
USE [master]
GO
